.footer {
  color: #212529;
  background-color: #ffffff;
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-about .logo {
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: #32353a;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .footer-about p {
  font-size: 14px;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, #212529, transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, #212529, transparent 50%);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #e84545;
  border-color: #e84545;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, #212529, transparent 20%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #e84545;
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: color-mix(in srgb, #212529, transparent 95%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

.footer-about p {
  font-size: 20px;
  text-align: start;
}

.footer-links a {
  text-decoration: none;
}

.sitename {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Archivo", sans-serif;
}

.copyright p strong {
  font-size: 20px;
  font-family: "Archivo", sans-serif;
}

.footer-links h4 {
  font-size: 22px;
  font-weight: bolder;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 22px;
  font-weight: bolder;
  text-align: start;
}

.footer-links ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.footer-links ul li:hover {
  color: #f76c45;
  font-weight: bolder;
  transition: color 0.3s ease-in-out;
}

.footer-contact p {
  font-size: 18px;
  text-align: start;
}

.footer-contact p a {
  text-decoration: none;
  color: #f76c45;
}
