.nav-divider {
  border-bottom: 1px solid #dee2e6;
  margin: 0.3rem 0;
}

.navbar {
  background-color: black;
  width: 100%;
  position: sticky !important;
  left: 0;
  top: 0;
  z-index: 10;
}

.navbar {
  background-color: #f9f3eb;
  padding: 1rem;
  position: relative;
}

.navbar-brand {
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: #f76c45;
}

.nav-link {
  font-size: 18px;
  font-weight: bolder;
}

.navbar-nav > .nav-link.active {
  color: #f76c45;
}

.navbar-nav > .nav-link:hover {
  color: #f76c45;
}

.navbar-nav > .nav-link {
  position: relative;
}

.navbar-nav > .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #f76c45;
  transition: width 0.3s ease-in-out;
}

.navbar-nav > .nav-link:hover::after,
.navbar-nav > .nav-link.active::after {
  width: 100%;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #000;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #f76c45;
  text-decoration: none;
}

.nav-dropdown .dropdown-item {
  white-space: normal;
}

.navbar-nav .nav-link {
  white-space: nowrap;
}

.navbar-nav .nav-link:not(:last-child) {
  margin-right: 1rem;
}

.nav-divider.d-lg-none {
  display: none;
}

.dropdown-menu {
  width: 400px;
}


@media (max-width: 767px) {
  .dropdown-menu {
    width: 300px;
  }
}