.getAQuote {
  padding: 50px 10px;
}

.emailForm h3 {
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  font-family: "Archivo", sans-serif;
}

.get-a-quote .quote-bg {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.get-a-quote .emailForm {
  background: color-mix(in srgb, var(--default-color), transparent 97%);
  padding: 30px;
  height: 100%;
}

.form-control {
  border: 1px solid black;
  border-radius: 0px;
  padding: 8px;
}

@media (max-width: 575px) {
  .get-a-quote .emailForm {
    padding: 20px;
  }
}

.get-a-quote .emailForm h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
}

.get-a-quote .emailForm p {
  font-size: 20px;
  margin-bottom: 20px;
}

.get-a-quote .emailForm input[type="text"],
.get-a-quote .emailForm input[type="email"],
.get-a-quote .emailForm textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: color-mix(
    in srgb,
    var(--background-color),
    transparent 20%
  );
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.get-a-quote .emailForm input[type="text"]:focus,
.get-a-quote .emailForm input[type="email"]:focus,
.get-a-quote .emailForm textarea:focus {
  border-color: var(--accent-color);
}

.get-a-quote .emailForm input[type="text"]::placeholder,
.get-a-quote .emailForm input[type="email"]::placeholder,
.get-a-quote .emailForm textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.get-a-quote .emailForm button[type="submit"] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}

.get-a-quote .emailForm button[type="submit"]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.getStartedBtn {
}

.submitBtn .getStartedBtn{
  
  background-color: #f76c45;
  border-color: #f76c45;
  color: white;
}

.getStartedBtn:hover,
.getStartedBtn:focus,
.getStartedBtn:active {
  background-color: darkorange;
  border-color: darkorange;
  color: white;
}

.getStartedBtn:active {
  background-color: darkorange;
  border-color: darkorange;
  color: white;
}

.getStartedBtn:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
}
